<h1>Points</h1>
<div class="row">
  <% flash.each do |key, value| %>
    <div class="card-panel sm 12"><%= value %></div>
  <% end %>
</div>
<%= react_component('Points', getUrl: points_path + '.json',
                                postUrl: create_point_path) %>
