	<% @points.each do |point| %>
	<p><%= point.name %></p>
		<% @point_datums.each do |datum_point| %>
			<%if datum_point.point_id == point.id %>
				<p><%= @datums.find(datum_point.id).title %></p>
			<% end %>
		<% end %>
	<% end %>
