	<% @points.each do |point| %>
	<p><%= point.name %></p>
	<%= link_to 'More Details',point %>				
		<%= link_to 'View QR', point %>

		<hr>
	<% end %>
	<br>
	<%= link_to 'New Point', new_point_path %>
