body {
  background-color: #FFFFFF;
  /*color: #2E2F30;*/
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
}

nav{
  position: relative;
 height: 5%;
}
ul {
  list-style-type: none;
  overflow: hidden;
list-style: none;
padding: 0;
width: 100%;
margin: 0 auto;
  background-color: #333;
}

li {

  float: middle;
  border-right:1px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-size: 1.5em;
}

li a:hover:not(.active) {
  background-color: #111;
}


.active {
  background-color: #1E88E5;
}


#title {
  margin-top: 5%;
}

h1{
  color: #039be5;
  font-size: 1500%;

}
img, h1{
    display:inline-block;
    margin: 0px;
    vertical-align: middle;
}

#redirect {
  vertical-align: middle;
  text-align: center;
  font-size: 250%;
  color: #FFFFFF;
  background-color: #2196F3;
  text-decoration: none !important;
}

#capsule {

  background-color: #2196F3;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid #2196F3;
  margin-top: 40px;

  width: 40em;
  height: 5em;
  padding-bottom: 10px;
  margin-left:auto;
    margin-right:auto;
  display: inline-block;
}

#warning {
  color: #EFB25C;
  font-size: 20px;
  margin-left: 10px;
  margin-top: -30px;

}
.rotate {
    margin: 20px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
