<h1>PointsData#new</h1>
<h2> Data for Points</h2>
<%= form_for (@point_datum) do |f| %>
<p>Points</p>
<%= f.select :point_id, options_for_select(@point_options) %>
<br>
<p>Data</p>
<%= f.select :datum_id, options_for_select(@data_options) %>
<br>
<%= f.submit %>
<% end %>
