<p>Dear Recipient,</p>
<p>You requested a password reset for the email:<b><%= @user.email %>.</b></p>
<p>Please click <a href=<%= ('"'+@url[0..-2]+password_reset_path+"/"+@user.temporarypassword+"/activate"'"').html_safe %> >here</a> </p>
<p>You will be able to set a new password after logging in.</p>
<p>Kind Regards,</p>
<p>The HiTour Team</p>
