<p>Dear Reciepient,</p>
<p>You requested an a password reset for the email:<b><%= @user.email %>.</b></p>
<p>Please click <a href=<%= ('"'+@url+'"').html_safe %> >here</a> and use the temporary password
  <b><%= @user.temporarypassword %></b></p>
<p>You will be able to set a new password after loggin in.</p>
<p>Kind Regards,</p>
<p>The HiTour Team</p>
