<h1>Quiz Example</h1>
<p>Thanks for coming to today's tour. Please fill in the quiz below. All responses will be kept anonymous</p>
<div className="container">
  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>1. What is an MRI Machine?</p>
        <p>
          <input name="answer[1]" type="radio" id="answer1" required/>
          <label for="answer1">A life saving machine</label>
        </p>
        <p>
          <input name="answer[1]" type="radio" id="answer2"/>
          <label for="answer2">A disease</label>
        </p>
        <p>
          <input name="answer[1]" type="radio" id="answer3"/>
          <label for="answer3">A chocolate company</label>
        </p>
      </form>
    </div>
  </div>

  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>2. Who's your favourite Doctor?</p>
        <p>
          <input name="answer[2]" type="radio" id="answer4" required/>
          <label for="answer4">Doctor Foster</label>
        </p>
        <p>
          <input name="answer[2]" type="radio" id="answer5"/>
          <label for="answer5">Doctor Who</label>
        </p>
        <p>
          <input name="answer[2]" type="radio" id="answer6"/>
          <label for="answer6">The Doctor</label>
        </p>
      </form>
    </div>
  </div>

  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>3. Why did you attend the tour?</p>
        <p>
          <input name="answer[3]" type="radio" id="answer7" required/>
          <label for="answer7">You were bored</label>
        </p>
        <p>
          <input name="answer[3]" type="radio" id="answer8"/>
          <label for="answer8">You were forced</label>
        </p>
        <p>
          <input name="answer[3]" type="radio" id="answer9"/>
          <label for="answer9">It was a life choice</label>
        </p>
      </form>
    </div>
  </div>
  <div className="row">
    <div class="card-panel">
        <%= react_component('NewFeedback', tourId: 1,
                                          postUrl: "fakeLink") %>
    </div>
  </div>
</div>
