<h1>Thank You! Your Scored 3/4</h1>
<p>You answers and feedback have been submitted! Please review your answers below.</p>
<div className="container">
  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>1. What is an MRI Machine?</p>
        <p>
          <input name="answer[1]" type="radio" id="answer1" disabled checked/>
          <label for="answer1">A life saving machine</label>
        </p>
        <p>
          <input name="answer[1]" type="radio" id="answer2" disabled/>
          <label for="answer2">A disease</label>
        </p>
        <p>
          <input name="answer[1]" type="radio" id="answer3" disabled/>
          <label for="answer3">A chocolate company</label>
        </p>
        <p class="correct-answer">Correct!</p>
      </form>
    </div>
  </div>

  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>2. Who's your favourite Doctor?</p>
        <p>
          <input name="answer[2]" type="radio" id="answer4" disabled checked/>
          <label for="answer4">Doctor Foster</label>
        </p>
        <p>
          <input name="answer[2]" type="radio" id="answer5" disabled/>
          <label for="answer5">Doctor Who</label>
        </p>
        <p>
          <input name="answer[2]" type="radio" id="answer6" disabled/>
          <label for="answer6">The Doctor</label>
        </p>
        <p class="wrong-answer">The correct answer was Doctor Who!</p>
      </form>
    </div>
  </div>

  <div className="row">
    <div class="card-panel">
      <form action="#">
        <p>3. Why did you attend the tour?</p>
        <p>
          <input name="answer[3]" type="radio" id="answer7" disabled/>
          <label for="answer7">You were bored</label>
        </p>
        <p>
          <input name="answer[3]" type="radio" id="answer8" disabled/>
          <label for="answer8">You were forced</label>
        </p>
        <p>
          <input name="answer[3]" type="radio" id="answer9" disabled checked/>
          <label for="answer9">It was a life choice</label>
        </p>
        <p class="wrong-answer">The correct answer was You were bored!</p>
      </form>
    </div>
  </div>
</div>
