@import "base/globals.scss";
@import "components.css.scss";

.point-box{
	
}

.point-qr{
	float: left;
	width: 100px;
}

.point-info{
	margin-left: 200px;
}

.toast{
	background-color: #0097a7;
	color: white;
}
