@import "base/globals.scss";
@import "components.scss";

.point-box{

}

.point-qr{
	float: left;
	width: 100px;
}

.point-info{
	margin-left: 200px;
}

.toast{
	background-color: #0097a7;
	color: white;
}

.collapsible {
	margin-left: 12px;
  margin-right: 12px;
}

.star-rating{
	display: inline-block;
	width: 40px;
	height: 40px;
}

.star-selected{
	color: yellow;
}

.star:hover{
	color: yellow;
}
